[submodule "HomepageCore.UI/ClientApp/submodules/InteractiveResume"]
	path = HomepageCore.UI/ClientApp/submodules/InteractiveResume
	url = https://github.com/hailedev/InteractiveResume.git
	branch = master
