<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="eTU5rOs2DGE-pHvz-rOhHybSYEd69vuoD0oXf2SaU3k" />
    <meta name="twitter:card" content="summary" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/RichEditor.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Oswald" rel="stylesheet">
<% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
<% } %>
<% if(htmlWebpackPlugin.options.enableGoogleAnalytics) { %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-98372841-1', 'auto');
        ga('send', 'pageview');
    </script>
<% } %>
    <title></title>
</head>
<body>
<% if(htmlWebpackPlugin.options.prerender) { %>
    <div id="root" asp-prerender-module="wwwroot/js/prerender-bootstrapper"></div>
    <% for (var script in htmlWebpackPlugin.files.js) {  if (htmlWebpackPlugin.files.js[script].match(/prerender-app\.(min\.)?js/)) { %>
        <script src="<%= htmlWebpackPlugin.files.js[script] %>"></script>
    <% } } %>
    <script type="text/javascript">window['prerender-app'].renderToNode(location.pathname + location.search + location.hash)</script>
    <% } else { %>
        <div id="root"></div>
    <% for (var script in htmlWebpackPlugin.files.js) {  if (htmlWebpackPlugin.files.js[script].match(/\/app\.(min\.)?js/)) {  %>
        <script src="<%= htmlWebpackPlugin.files.js[script] %>?v=<%= htmlWebpackPlugin.options.version %>"></script>
    <% } } %>
<% } %>
</body>
</html>