<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="eTU5rOs2DGE-pHvz-rOhHybSYEd69vuoD0oXf2SaU3k" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Oswald" rel="stylesheet">
    <!-- build:style bundle -->
    <!-- /build -->
    <!-- build:remove debug -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-98372841-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- /build -->
    <title></title>
</head>
<body>
<!-- razor: @if(Model) { -->
    <div id="root" asp-prerender-module="wwwroot/js/prerender-bootstrapper"></div>
<!-- build:script prerender -->
<!-- /build -->
    <script type="text/javascript">prerenderService.renderToNode(location.pathname + location.search + location.hash)</script>
<!-- razor: } else { -->
    <div id="root"></div>
<!-- build:script bundle -->
<!-- /build -->
<!-- razor: } -->
</body>
</html>